################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSU/bin
/.vs
/SSU/Properties
/SSU/obj/Release/net6.0
/SSU/obj/Debug/net6.0
